<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="todolist show">
  <h2>Show Todo List <%= @todolist.name %></h2>

  <table summary="todolist detail view">
    <th>ingaveDatum</th>
    <th>eindDatum</th>
    <th>prioriteit</th>
    <th>beschrijving </th>
    <% @listitems.each do |listitem| %>
    <tr>
      <td><%= listitem.ingaveDatum%></td>
      <td><%= listitem.eindDatum %></td>
      <td><%= listitem.prioriteit %></td>
      <td><%= listitem.beschrijving %></td>

      <td class="actions">
        <%= link_to("Show", {:controller => 'list_item', :action => 'show', :id => listitem.id}, :class => 'action show') %>
        <%= link_to("Edit", {:controller => 'list_item',:action => 'edit', :id => listitem.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:controller => 'list_item',:action => 'delete', :id => listitem.id}, :class => 'action delete') %>
      </td>
    </tr>

    <% end %>
  </table>
<%= link_to("Add New List Item", {:controller => 'list_item',:action => 'new', :id => @todolist.id}, :class => 'action new') %>
</div>
