<h1>List Item#new</h1>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="todolist new">
  <h2>Create List Item for <%= @todolist.name %></h2>

  <%= form_for(:listitem, :url => {:action => 'create'}) do |f| %>

    <table summary="todolist form fields">
      <tr>
        <th>ingaveDatum</th>
        <td><%= f.text_field(:ingaveDatum) %></td>
      </tr>
      <tr>
        <th>eindDatum</th>
        <td><%= f.text_field(:eindDatum) %></td>
      </tr>
      <tr>
        <th>prioriteit</th>
        <td><%= f.text_field(:prioriteit) %></td>
      </tr>
      <tr>
        <th>beschrijving</th>
        <td><%= f.text_area(:beschrijving) %></td>

      </tr>
      <tr>

        <td>  <%= f.hidden_field(:todolist_id) %></td>

      </tr>

    </table>

    <div class="form-buttons">
      <%= submit_tag("Create ListItem") %>
    </div>

  <% end %>
</div>
